*{
    box-sizing: border-box;
}
.container
{
    width: 100%;
    height: 100vh;
    box-sizing: border-box;

}
/*------------------ header -------------------*/
.header{
    width: 100%;
    height: 80px;
    background-color: black;
    display: flex;
}
.logo{
    padding-left: 2%;
    margin: 0%;
    width: 17%;
}
.list{
    display: flex;
    color: white;
    padding-left: 15px;
    font-weight: normal;
    font-family: 'Teko', 'Oswald', sans-serif;
    color: rgb(128, 123, 117);

    padding-top: 7px;
}
.box2{
    width: 33.33%;
    background: #000000;
    height: 80px;
    padding-top: 30px;
}
.box3{
    width: 33.33%;
    background: #eca800;
    height: 80px;
    margin-right: 1px;

}
.box4{
    width: 33.33%;
    background: #e2ad0d;
    height: 80px;
}
.side
{
    font-family: 'Teko', 'Oswald', sans-serif;
    color: #333;
    font-weight: bolder;
    text-align: center;
    padding-top: 10px;
    
}
/* -------------------------------------------main--------------------------------------- */
.main
{

    height: 755px;
    display: flex;
}
.main2{
    box-sizing: border-box;
    height: 1000px;
}

.img-over2{
    position: relative;
    z-index: -1;
    box-sizing: border-box;
}
.img-over3{
    width: 84%;
    height: 685px;
    position: relative;
    z-index: 1;
    top: -920px;
    margin: 0px auto;
    text-align: center;
}
.main3
{
    box-sizing: border-box;
    height: 710px;
    width: 100%;

}
.img-over1{
    position: relative;
    z-index: -1;
    box-sizing: border-box;
}
.img-over4{
    width: 84%;
    height: 685px;
    position: relative;
    z-index: 1;
    top: -720px;
    margin: 0px auto;
    text-align: center;
}
.main4{
    box-sizing: border-box;
    height: 650px;
    width: 100%;
    background-image: url(../images1\video_bg.jpg);
    background-size: cover;

}
.img-over5{
    position: relative;
    z-index: -1;
    box-sizing: border-box;
}
.img-over6{
    width: 95%;
    height: 540px;
    position: relative;
    z-index: 1;
    top: -598px;
    margin: 0px auto;
    text-align: center;

}
/* -----------------------------footer--------------------- */
.footer
{
width: 100%;
height: 500px;

}
.foot1{
    width: 100%;
    height:350px;
    background-image: url(./images1/app_bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}
.foot2{
   width: 100%;
   height: 150px;
}
.foot1-1{
    box-sizing: border-box;
    height: 100px;
    padding-left: 45%;

}
.foot1-2{
    width: 100%;
    height: 100px;
    padding-left: 39%;

}
.foot1-3{
    width: 100%;
    height: 100px;
    padding-left: 29%;
    

}
.foot2-1{
    width: 100%;
    height: 60px;
    background: #000000;
    

}
.foot2-2{
    width: 100%;
    height: 30px;
    background: #000000;
}
.foot2-3{
    width: 100%;
    height: 60px;
    background: #000000;
}






/* --------------------id------------------------- */
